.fab {
  background: #03a9f4;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 2.6667em;
  display: inline-block;
  cursor: default;
  z-index: 9999999999;
}
.fab.child {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: auto !important;
  height: auto !important;
  border-radius: 0% !important;
  right: 58.66666667px;
  width: 42.66666667px;
  height: 42.66666667px;
  display: none;
  opacity: 0;
  font-size: 2em;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none !important;
  opacity: 0;
  display: none;
}

.clickable {
  cursor: pointer;
}
