<div class="se-pre-con"></div>
<div class="container-fluid h-100">
  <div class="row h-100">
    <div
      class="col-md-6 h-100 d-sm-flex d-none flex-column align-items-center justify-content-center"
    >
      <h3>Selamat Datang</h3>
      <br />
      <h1>Si - David</h1>
    </div>
    <div
      class="col-md-6 h-100 d-flex align-items-center justify-content-center text-center"
    >
      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-light circle ld ld-move-fade-btt mb-5"
            onclick="goToTunanetra()"
          >
            <img src="images/up-chevron.svg" alt="" height="38" />
          </button>
          <p>
            Scroll Ke Atas <br />
            untuk penyandang tunanetra
          </p>
        </div>
        <div class="col-md-12 mt-5">
          <p>Scroll Ke Bawah <br />untuk penyandang non tunanetra</p>
          <button
            class="btn btn-light ld ld-move-fade-btt mt-5"
            style="animation-direction: reverse;"
          >
            <img
              src="images/down-chevron.svg"
              onclick="goToNonTunanetra()"
              alt=""
              height="38"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
