<div class="container-fluid h-100 d-felx" id="landing">
  <div class="row h-100 my-auto">
    <div
      class="col-md-6 h-100 d-sm-flex d-none flex-column align-items-center justify-content-center"
    >
      <h3>Selamat Datang</h3>
      <br />
      <h1>Si - David</h1>
    </div>
    <div
      class="col-md-6 h-100 d-flex align-items-center justify-content-center text-center"
    >
      <div class="row">
        <div class="col-md-12 d-xl-none d-lg-none d-md-none d-sm-block d-block">
          <img src="images/click.gif" alt="" height="70" class="mb-2" />
          <p>
            Tekan di bagian layar mana saja<br />
            untuk penyandang tunanetra
          </p>
        </div>
        <div
          class="col-md-12 d-xl-none d-lg-none d-md-none d-sm-block d-block mt-4"
        >
          <h3>Selamat Datang</h3>
          <h1>Si - David</h1>
        </div>
        <div
          class="col-md-12 d-xl-block d-lg-block d-md-block d-sm-none d-none"
        >
          <img src="images/click.gif" alt="" height="70" />

          <p>
            Tekan Tombol Space<br />
            untuk penyandang tunanetra
          </p>
        </div>
        <div class="col-md-12 mt-5">
          <p>Scroll Ke Bawah <br />untuk penyandang non tunanetra</p>

          <img
            class="ld ld-move-fade-btt mt-5"
            src="images/down-chevron.svg"
            alt=""
            height="38"
            style="animation-direction: reverse"
          />
        </div>
      </div>
    </div>
  </div>
</div>
