<div class="se-pre-con"></div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <button class="navbar-brand btn btn-home">
    Si-David <small>by LaraUmm</small>
  </button>
  <!-- <button class="btn btn-sm btn-danger ml-auto" onclick="tombolRecognize()">
    Coba klik aja
  </button> -->
</nav>
<div class="container pt-5">
  <div class="row pt-5" id="content"></div>
</div>
<div
  style="position: fixed; bottom: 50%; right: 20px;"
  class="d-flex flex-column"
>
  <button class="btn btn-sm mb-1" id="btn_lampu">
    <img src="images/lamp_dark.svg" alt="" height="38" />
  </button>
  <button class="btn btn-sm mb-1" id="btn_font_inc">
    <img src="images/font up.svg" alt="" height="38" />
  </button>
  <button class="btn btn-sm mb-1" id="btn_font_dec">
    <img src="images/font down.svg" alt="" height="38" />
  </button>
  <button class="btn btn-sm mb-1" id="btn_text_width_i">
    <img src="images/text-width-i.png" alt="" height="38" />
  </button>
  <button class="btn btn-sm mb-1" id="btn_text_width_d">
    <img src="images/text-width-d.png" alt="" height="38" />
  </button>
</div>
