<style>
  .fab {
    /* background: #03a9f4; */
    width: 64px;
    height: 64px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 2.6667em;
    display: inline-block;
    cursor: default;
    z-index: 9999999999;
  }
  .fab.child {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    width: auto !important;
    height: auto !important;
    border-radius: 0% !important;
    right: 58.66666667px;
    width: 42.66666667px;
    height: 42.66666667px;
    display: none;
    opacity: 0;
    font-size: 2em;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4 !important;
    opacity: 0;
    display: none;
  }

  .clickable {
    cursor: pointer;
  }
</style>
<div class="container-fluid h-100">
  <div class="row d-flex">
    <nav
      class="navbar navbar-expand-md navbar-dark bg-secondary w-100 sticky-top"
      id="nav_non"
    >
      <a href="/" class="ml-3"
        ><img
          src="images/home.svg"
          alt=""
          class="img-fluid"
          style="height: 33px"
      /></a>
      <!-- <button class="btn" >home</button> -->
      <a href="/" class="navbar-brand btn btn-home ml-auto">
        Si-David <small>by LaraUmm</small>
      </a>
    </nav>
  </div>
  <div class="row d-flex mt-4">
    <div class="col-md-10 mx-auto">
      <div class="input-group">
        <!-- <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div> -->
        <input
          type="text"
          class="form-control"
          placeholder="Cari Nama Provinsi"
          onkeyup="cari(this)"
        />
        <div class="input-group-append">
          <span class="input-group-text" style="background-color: white"
            >Q</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex mt-4 text-center">
    <nav
      class="navbar navbar-expand-md navbar-dark bg-secondary w-100 text-light text-center"
    >
      <h3 class="mx-auto">Kasus Per Provinsi</h3>
    </nav>
  </div>
  <div class="row d-flex mt-4 text-center" id="content_non_tunanetra"></div>
  <div class="row d-flex mt-4 text-center">
    <nav
      class="navbar navbar-expand-md navbar-dark bg-secondary w-100 text-light text-center"
    >
      <h3 class="mx-auto">Peta Sebaran</h3>
    </nav>
  </div>
  <div class="row d-flex mt-4 text-center">
    <div class="col-md-12">
      <div id="mapid" style="height: 400px"></div>
    </div>
  </div>
  <div class="row mt-3" id="data_nasional"></div>
</div>
<div class="backdrop"></div>

<div class="fab child" data-subitem="5">
  <div class="row">
    <!-- <div class="col-6"> -->
    <img
      src="images/font up.svg"
      id="btn_font_inc"
      alt=""
      height="38"
      class="mr-2 clickable"
    />
    <!-- </div> -->
    <!-- <div class="col-6"> -->
    <img
      src="images/font down.svg"
      alt=""
      height="38"
      id="btn_font_dec"
      class="ml-2 clickable"
    />
    <!-- </div> -->
  </div>
</div>
<div class="fab child" data-subitem="4">
  <div class="row">
    <!-- <div class="col-6"> -->
    <img
      src="images/text-width-i.png"
      id="btn_text_width_i"
      alt=""
      height="38"
      class="mr-4 clickable"
    />
    <!-- </div> -->

    <!-- <div class="col-6"> -->
    <img
      src="images/text-width-d.png"
      id="btn_text_width_d"
      alt=""
      height="38"
      class="ml-2 clickable"
    />
    <!-- </div> -->
  </div>
</div>
<div class="fab child" data-subitem="3">
  <h4
    class="mb-0 clickable"
    style="
      font-family: Open-Dyslexic !important;
      font-size: 44px !important;
      color: black;
      letter-spacing: normal !important;
    "
    id="btn_disleksia"
  >
    Df
  </h4>
</div>
<div class="fab child" data-subitem="2">
  <img
    src="images/lamp_dark.svg"
    id="btn_lampu"
    alt=""
    height="38"
    class="clickable"
  />
</div>
<div class="fab child" data-subitem="1">
  <img
    src="images/saturasi.png"
    id="btn_saturasi"
    alt=""
    height="38"
    class="clickable"
  />
</div>
<!-- <div class="fab child" data-subitem="5"><span>A</span></div> -->
<div
  class="fab clickable"
  id="masterfab"
  style="
    font-size: 50px !important;
    letter-spacing: normal !important;
    background-image: url('images/universal-icon.png');
  "
></div>

<script src="js/cari2.js"></script>
<script src="js/nontunanetra.FAB.js"></script>
