<div class="container h-100">
  <div class="row pt-5 h-100 pb-5" id="content">
    <div class="col-md-12 h-100">
      <button class="btn-block btn btn-warning h-100" id="button_voice">
        Tombol Voice
      </button>
    </div>
  </div>
</div>
