<div class="container h-100">
  <div class="row pt-5 h-100 pb-5" id="content">
    <div class="col-md-12 h-100 d-flex">
      <button
        class="btn-block btn btn-warning h-100 d-md-none d-lg-none d-xl-none d-block d-sm-block"
        id="button_voice"
      >
        Tahan layar, lalu ucapkan nama provinsi yang anda cari
      </button>
      <h2
        class="text-center my-auto d-none d-sm-none d-md-block d-lg-block d-xl-block"
      >
        Dengan menekan tombol SPASI, maka akan anda dapat melakukan pencarian
        data kasus melalui suara
      </h2>
    </div>
  </div>
</div>

<script src="js/tunanetra_2.js"></script>
